img {
    max-width: 100%;
    max-height: 90%;
}

.about-me-text {
    font-size: 18px;
}

footer {
    width: 100%;
    position: fixed;
    bottom: 0px;
    height: 3vh;
    background-color: #4aaaa5; 
    text-align: center;
}